body {
	 font-family: 'Lato', sans-serif;
	 font-size: 1rem;
	 color: #333;
	 background-color: #f4f4f4;
}

.review-block {
	 width: 65%;
	 height: 100%;
	 margin: 0 auto;
	 padding: 10px;
}

.new-review {
	 width: 100%;
}

#newReview {
	 display: inline-block;
	 vertical-align: middle;
	 margin-left: 10px;
	 width: 100%;
}
.new-review input[type="text"] {
	 width: 100%;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 font-size: 1.3rem;
	 padding: 10px;
	 border: none;
     border: 1px solid rgba(0,0,0,.125);
     border-radius: 0.25rem;
     box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}



#reviewContainer {
	 width: 100%;
	 height: auto;
	 padding: 20px 0;
}
.review {
	 list-style-type: none;
}
.review-body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100%);
    min-height: 65px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #555;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.review-body h5 {
    margin-top: 10px;
    margin-left: 20px;
}

.review-body p {
    margin-left: 20px;
}


.review-toolbar {
	 width: 100%;
}
.review-toolbar ul {
	 list-style-type: none; 
	 font-size: 0;
     padding: 5px 10px;
}
.review-toolbar ul li {
	 display: inline;
	 padding: 5px;
	 font-size: 0.7rem;
	 color: #d9d9d9;
}
.fa-trash {
    color: darkred;
}

.delbtn {
	padding: 0px;
	border: 0px;
}